html {
  height: 100%;
  width: 100%;
}

body {
  background-color: #171323;
}

p {
  background-color: #342f4b;
  border-radius: 5px;
  color:#dababe;
  text-align: center;
  margin-right: 30%;
  margin-left: 30%;
}
